
div.title {
	background-color: lightgrey;
	margin-top: 20px;
	margin-bottom: 0px;
	font-size: 65px;
	font-weight: bold;
}

div.subtitle { 
	background-color: lightgrey;
	margin-top: 5px;
	margin-bottom: 0px;
	font-style: italic;
	font-weight: bold;
	font-size: 20px;
	font-family: "Arial", Helvetica, sans-serif;
	}

body {
	background-image:url("../images/articles/kern.png");
	background-repeat: repeat;
	margin-right: 75px;
	margin-left: 75px;
}
h1 {
	background-color: lightgrey;
	border: 3px solid;
	margin-top: 5px;
	margin-bottom:0px;
	font-size: 30px;
	padding: 5px;
	}

h2 {
	background-color: lightgrey;
	border: 3px solid;
	margin-top: 5px;
	margin-bottom:0px;
	font-size: 25px;
	padding: 5px;
	}
