
div.title {
	background-color: lightgrey;
	margin-top: 20px;
	margin-bottom: 0px;
	font-size: 65px;
	font-weight: bold;
}

div.subtitle { 
	background-color: lightgrey;
	margin-top: 5px;
	margin-bottom: 0px;
	font-style: italic;
	font-weight: bold;
	font-size: 20px;
	font-family: "Arial", Helvetica, sans-serif;
	}

body {
	background-image:url("../images/tools/mendo.png");
	background-repeat: repeat;
	margin-right: 7%;
	margin-left: 7%;
}

h1 {
	background-color: lightgrey;
	border: 3px solid;
	margin-top: 5px;
	margin-bottom:0px;
	font-size: 30px;
	padding: 5px;
	}

h2 {
	background-color: lightgrey;
	border: 0px solid;
	margin-top: 0px;
	margin-bottom:3px;
	font-size: 16px;
	padding: 0px;
	font-weight: none;
	}
	
div.sect {
	border: 3px solid;
	background-color: lightgrey;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
}	

div.desc {
	margin-top: 0px;
	margin-bottom:3px;
	font-size: 16px;
	padding: 0px;
	font-weight: none;
	font-style: italic;
}

/* Initial color for the select element */
select {
	color: grey;
}

/* Change color to black when a valid option is selected */
select:valid {
	color: black;
}

/* Ensure the placeholder remains grey */
select option[value=""] {
	color: grey;
}

/* Ensure the selected option is black */
select option:not([value=""]) {
	color: black;
}

#loading {
	display: none;
}

#error {
	display: none;
}

table {
	border: 1px solid black;
	width: 100%;
}

th {
	border: 1px solid black;
	padding: 3px;
	text-align: left;
}
	
td {
	border: 1px solid black;
	padding: 3px;
}