div.title {
	background-color: lightgrey;
	margin-top: 20px;
	margin-bottom: 0px;
	font-size: 65px;
	font-weight: bold;
}

div.subtitle { 
	background-color: lightgrey;
	margin-top: 5px;
	margin-bottom: 0px;
	font-style: italic;
	font-weight: bold;
	font-size: 20px;
	font-family: "Arial", Helvetica, sans-serif;
	}

body {
	background-image:url("../../2023/yosemite_reservations/yosemite.jpg");
	background-repeat: repeat;
	margin-right: 7%;
	margin-left: 7%;
}

h1 {
	background-color: lightgrey;
	border: 3px solid;
	margin-top: 5px;
	margin-bottom:0px;
	font-size: 30px;
	padding: 5px;
	}

h2 {
	background-color: lightgrey;
	margin-top: 5px;
	margin-bottom:0px;
	font-size: 25px;
	}
	
div.sect {
	border: 3px solid;
	background-color: lightgrey;
	margin-top: 5px;
	margin-bottom: 0px;
	padding: 10px;
}	

div.images {
	text-align: center;
}

.img {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
	

table {
  border-collapse: collapse;
  background-color: lightgrey;
  width: 100%;
  margin-top: 15px;
}

th, td {
  border: 1px solid #d0d0d0;
  padding: 3px;
  text-align: left;
  vertical-align: top;
}

th {
  background-color: #e7e7e7;
  font-weight: bold;
  font-size: 1em;
}

tr:nth-child(even) td {
  background-color: #f5f5f5;
}

/* Space the columns as suggested before */
th:nth-child(1), td:nth-child(1) { width: 35%; }
th:nth-child(2), td:nth-child(2) { width: 14%; }
th:nth-child(3), td:nth-child(3) { width: 7%; }
th:nth-child(4), td:nth-child(4) { width: 10%; }
th:nth-child(5), td:nth-child(5) { width: 10%; }
th:nth-child(6), td:nth-child(6) { width: 5%; }
th:nth-child(7), td:nth-child(7) { width: 10%; }

/* Responsive for small screens: Just allow horizontal scrolling */
@media (max-width: 700px) {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}