div.title {
	background-color: lightgrey;
	margin-top: 20px;
	margin-bottom: 0px;
	font-size: 65px;
	font-weight: bold;
}

div.subtitle { 
	background-color: lightgrey;
	margin-top: 5px;
	margin-bottom: 0px;
	font-style: italic;
	font-weight: bold;
	font-size: 20px;
	font-family: "Arial", Helvetica, sans-serif;
	}

body {
	background-image:url("../images/check_the_gaia/shasta.png");
	background-repeat: repeat;
	margin-right: 7%;
	margin-left: 7%;
}

h1 {
	background-color: lightgrey;
	margin-top: 5px;
	margin-bottom:0px;
	font-size: 30px;
	padding: 5px;
	}

h2 {
	background-color: lightgrey;
	margin-top: 5px;
	margin-bottom:0px;
	font-size: 25px;
	}
	
.main {
	margin-top: 5px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

img {
	margin: 10px;
	width: 200px;
}

.background {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding: 0px;
} 

body {
	background-image:url("../images/canoe_to_camp/lake_tahoe.png");
	background-repeat: repeat;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 75px;
	margin-left: 75px;
	padding: 0px;
}

.title2 {
	width: 70%;
	border-radius: 20px;
}

.content {
	display: flex;
	width: calc(70% - 20px);
	flex-direction: column;
	padding: 20px;
	background-color:lightgrey;
}

.top {
	display: flex;
	align-items: center;
	
}

.bottom {
	display: flex;
	justify-content: space-between;
}

.left {
	display: flex;
	justify-content: space-between;
	flex-grow: .5;
	padding-top: 20px;
}

.right {
	flex-grow: .5;
}


.inner {
	
	display: flex;
	flex-direction: column;
	
}

.spacer {
	height: 70px;

}

.wistful {
	font-size: 15px;
	margin: 10px 10px;
	line-height: 20px;
	text-justify: inter-word;
}

.wistful::first-letter {
	font-size: 30px;
}

.chair {
	height: 200px;
	width: fit-content;
}

.cat {
	height: fit-content;
	width: calc(50% - 10px);
}

.dumpy { 
	width: calc(100% - 20px);
	height: fit-content;
}

.flip {
	width: calc(100% - 60px);
}

.solo {
	margin-left: 40px;
}

.flat {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	width: 600px
}

.text {
	text-align: center;
	font-weight: 1000;
}

h1 {
	color:black;
	background-color: lightgrey;
	margin-bottom: 0px;
	margin-top: 0px;
	padding: 5px;
	margin-bottom: 5px;
	text-align: center;
}

div.img {
	!margin-top: 10px;
	!margin-bottom: 10px;
	!border: 3px solid;
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	background-color:lightgrey;
	padding: 5px;
	font-size: 15px;
}
